nav ul {
    font-size: 21px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: repeat(max-width);
    display: flex;
    justify-content: space-around;
}
nav ul li {
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: black;
    background-color: rgb(226, 226, 226);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid orange;
    padding: 2px 20px;
}
nav li ul {
    display: none;
    position: absolute;
    width: max-content;
    left: 0px;
    top: 32px;
}
nav li:hover ul {
    display: block;
}
nav li:hover a {
    color: black;
    background-color: white;
}
nav li:hover ul a:hover {
    background-color: rgb(223, 223, 223);
    color: black;
}
.fam {
    margin-top: 20px;
}